<ion-content>
  <div class="page-title">
    <!-- <span routerLink="/login" class="back"><i class="fas fa-angle-left"></i></span> -->
    <span class="text">change Password</span>
  </div>
  <div class="page-content align-mid">
    <div class="page-center-wrap">
      <div class="page-center-cont">
        <form (submit)="changePw()">
          <div class="form-row">
            <label class="form-row-label">Password <sup>*</sup></label>
            <input type="password" autocomplete="false" name="password" [(ngModel)]="FormModel.password" (input)="passwordCheck()" class="form-control" placeholder="Password" />
            <span class="password-meter">
              <span class="meter-in" style="width: {{ pass_meter_width }}%"></span>
            </span>
          </div>
          <div class="form-row">
            <label class="form-row-label">Re-type Password <sup>*</sup></label>
            <div class="form-with-icon append">
              <input type="password" autocomplete="false" name="confirm_password" (input)="passwordCheck()" [(ngModel)]="FormModel.confirm_password" class="form-control" placeholder="Re-type Password" />
              <span class="icon right success" *ngIf="pass_flag == 1"><i class="far fa-check-circle"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-row">
                <button type="submit" class="btn btn-outline">Change Password</button>
              </div>
            </div>
            <!-- <div class="col-6">
              <div class="form-row">
                <button type="submit" class="btn btn-primary">Verify</button>
              </div>
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>