<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029940588303-0ao880i3924hr5iiva3qpe583mghuj92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029940588303-0ao880i3924hr5iiva3qpe583mghuj92</string>
	<key>API_KEY</key>
	<string>AIzaSyBw2WIqboq5NOmxVvoXkLJOkburu2m0wiE</string>
	<key>GCM_SENDER_ID</key>
	<string>1029940588303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samantapp.app</string>
	<key>PROJECT_ID</key>
	<string>samanta-ae26a</string>
	<key>STORAGE_BUCKET</key>
	<string>samanta-ae26a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029940588303:ios:4d1709683d17d0a549187a</string>
	<key>DATABASE_URL</key>
	<string>https://samanta-ae26a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>