<div class="call-screen" [class.shown]="on_call == 1">
  <div class="video-loader" *ngIf="video_loading == 1">
    <img src="assets/images/cloader2.gif" />
  </div>
  <div id="localStreamDiv" class="local-video">
    <video id="localStream" poster="noposter"></video>
  </div>
  <div id="remoteStreamDiv" class="remote-video">
    <video id="remoteStream" poster="noposter"></video>
  </div>
  <div class="call-button-wrap">
    <button (click)="setAudioMute()">
      <span class="mi green">mic</span>
      Mute Audio
    </button>
    <button (click)="setVideoMute()">
      <span class="mi green">videocam</span>
      Stop Video
    </button>
    <button (click)="stopCall()">
      <span class="mi red">call_end</span>
      End Call
    </button>
  </div>
  <!-- <button (click)="rejectCall()">Reject</button> -->
  <!-- <div id="videochat-buttons-container">
    <button id="videochat-mute-unmute" class="videochat-button" disabled></button>
    <button id="videochat-stop-call" class="videochat-button"></button>
    <button id="videochat-switch-camera" class="videochat-button" disabled></button>
    <button id="videochat-sharing-screen" class="videochat-button">
      <i id="videochat-sharing-screen-icon" class="fas fa-tv"></i>
    </button>
  </div> -->
</div>

<div class="incoming-call-screen" *ngIf="incoming == 1">
  <div class="call-button-wrap" *ngIf="!(platform.is('ios'))">
    <button (click)="acceptCall()">
      <span class="mi green">call</span>
      Accept
    </button>
    <button (click)="rejectCall()">
      <span class="mi red">call_end</span>
      Reject
    </button>
  </div>
</div>


<div class="dialing-screen" *ngIf="dialing == 1">
  <div class="call-button-wrap">
    <button (click)="stopCall()">
      <span class="mi red">call_end</span>
      End
    </button>
  </div>
</div>



<div class="overlay" *ngIf="on_call == 0 && incoming == 0 && dialing == 0" [class.active]="(!(bookingRequest == '')) || ((!(ongoingCall == '')) && (!(userDets.user_type == 3)))" (click)="bookingRequest = ''; ongoingCall = ''; "></div>

<div class="overlay" *ngIf="(showVideoPermPop == 1) || (showAudioPermPop == 1) || (showTopPerm == 1)" [class.active]="(showVideoPermPop == 1) || (showAudioPermPop == 1) || (showTopPerm == 1)"></div>

<div *ngIf="(!(bookingRequest == '')) && (on_call == 0 && incoming == 0 && dialing == 0)" class="popup request-popup" [class.active]="!(bookingRequest == '')">
	<div class="popup-logo">
		<img src="assets/images/logo1.png" />
	</div>
	<div class="popup-title text-center">
		<span class="text">Interpreting job Request</span>
	</div>
	<div class="popup-content text-center">
		<div class="row">
			<div class="col-12">
				<p><b>{{ bookingRequest.user_name }}</b></p>
			</div>
			<!-- <div class="col-4">
				<p>
					<span>Duration: </span>
					<span *ngIf="bookingRequest.plan_id==1">15</span>
					<span *ngIf="bookingRequest.plan_id==2">30</span>
					<span *ngIf="bookingRequest.plan_id==3">45</span>
					<span *ngIf="bookingRequest.plan_id==4">60</span>
					<span *ngIf="bookingRequest.plan_id==5">2</span>
					<span></span>
				</p>
			</div> -->
			<div class="col-12">
				<div class="ord-lang text-center">
					<div class="lang-select-list">
			  			<div class="lang-set-title">
				  			<span class="sm-btn">{{ bookingRequest.language_from_obj.language_name }}</span>
				  			<span class="icon bg"></span>
				  			<span class="sm-btn">{{ bookingRequest.language_to_obj.language_name }}</span>
			  			</div>
			  		</div>
				</div>
			</div>
			<div class="col-12">
				<p>
					<!-- <span>Requested Slot: </span> -->
					<!-- <span> </span> -->
					<b>{{ bookingRequest.date | date: 'LLL' }} {{ bookingRequest.date | date: 'dd' }}, {{ bookingRequest.date | date: 'shortTime' }}</b> for <b>{{ bookingRequest.plan.time_to }} mins.</b>
					<!-- <span> mins</span> -->
				</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<button (click)="acceptOrder(bookingRequest.id, 1)" class="btn btn-primary">Accept</button>
					</div>
					<div class="col-12" style="margin-top: 20px;">
						<button (click)="acceptOrder(bookingRequest.id, -1)" class="btn btn-outline">Decline</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div *ngIf="(!(ongoingCall == '')) && (on_call == 0 && incoming == 0 && dialing == 0) && (!(userDets.user_type == 3))" class="popup request-popup" [class.active]="!(ongoingCall == '')">
	<div class="popup-logo">
		<img src="assets/images/logo1.png" />
	</div>
	<div class="popup-title text-center">
		<span class="text">Ongoing Call</span>
	</div>
	<div class="popup-content text-center">
		<div class="row">
			<div class="col-12">
				<p><b>{{ ongoingCall.user_name }}</b></p>
			</div>
			<div class="col-12">
				<div class="ord-dets-wrap" style="padding: 0;background: transparent;">
					<div class="ord-people">
						<div class="ord-person text-right">
							<div class="ord-person-in">
								<span class="img-wrap">
									<img *ngIf="ongoingCall.user.image_url == null" src="assets/images/dp2.png" />
									<img *ngIf="!(ongoingCall.user.image_url == null)" [src]="ongoingCall.user.image_url" />
								</span>
								<span class="name" *ngIf="!(userDets.id == ongoingCall.user.id)">{{ ongoingCall.user.name }}</span>
								<span class="name" *ngIf="(userDets.id == ongoingCall.user.id)">You</span>
								<span class="type">Hirer</span>
							</div>
						</div>
						<div class="ord-person text-left">
							<div class="ord-person-in">
								<span class="img-wrap">
									<img *ngIf="ongoingCall.interpreter.image_url == null" src="assets/images/dp2.png" />
									<img *ngIf="!(ongoingCall.interpreter.image_url == null)" [src]="ongoingCall.interpreter.image_url" />
								</span>
								<span class="name" *ngIf="!(userDets.id == ongoingCall.interpreter.id)">{{ ongoingCall.interpreter.name }}</span>
								<span class="name" *ngIf="(userDets.id == ongoingCall.interpreter.id)">You</span>
								<span class="type">Interpreter</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-4">
				<p>
					<span>Duration: </span>
					<span *ngIf="ongoingCall.plan_id==1">15</span>
					<span *ngIf="ongoingCall.plan_id==2">30</span>
					<span *ngIf="ongoingCall.plan_id==3">45</span>
					<span *ngIf="ongoingCall.plan_id==4">60</span>
					<span *ngIf="ongoingCall.plan_id==5">2</span>
					<span></span>
				</p>
			</div> -->
			<div class="col-12">
				<div class="ord-lang text-center">
					<div class="lang-select-list">
			  			<div class="lang-set-title">
				  			<span class="sm-btn">{{ ongoingCall.language_from_obj.language_name }}</span>
				  			<span class="icon bg"></span>
				  			<span class="sm-btn">{{ ongoingCall.language_to_obj.language_name }}</span>
			  			</div>
			  		</div>
				</div>
			</div>
			<div class="col-12">
				<p>
					<!-- <span>Requested Slot: </span> -->
					<!-- <span> </span> -->
					<span>{{ ongoingCall.date | date: 'LLL' }} {{ ongoingCall.date | date: 'dd' }}, {{ ongoingCall.date | date: 'shortTime' }} for {{ ongoingCall.plan.time_to }} mins.</span>
					<!-- <span> mins</span> -->
				</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<p class="text-center m20 msg-box" style="color: #FD1231; font-style: italic;" *ngIf="!(userDets.user_type == 3)">Your interpreter is ready please call now.</p>
						<p class="text-center m20 msg-box" style="color: #FD1231; font-style: italic;" *ngIf="(userDets.user_type == 3)">Your Caller is ready please call now.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12" style="z-index: 2;" *ngIf="!(userDets.user_type == 3)">
						<span (click)="callUser(ongoingCall.service_provider_id, ongoingCall.id)" class="hire-call-btn" style="margin: 0px auto;">
							<img src="assets/images/call.gif" />
							<!-- <i class="fas fa-phone"></i> -->
						</span>
						<!-- <p class="text-center"><b>Call Again</b></p> -->
					</div>
					<div class="col-12" style="z-index: 2;" *ngIf="(userDets.user_type == 3)">
						<span (click)="callUser(ongoingCall.user_id, ongoingCall.id)" class="hire-call-btn" style="margin: 0px auto;">
							<img src="assets/images/call.gif" />
							<!-- <i class="fas fa-phone"></i> -->
						</span>
						<!-- <p class="text-center"><b>Call Again</b></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="overlay-msg-popup" *ngIf="(!(overlayMsg == '')) && (incoming == 0)">
	<div class="overlay-close" (click)="overlayMsg = ''">x</div>
	<div class="overlay-msg-wrap">
		<!-- <img src="assets/images/call.gif" class="overlay-loader" /> -->
		<div class="overlay-msg">{{ overlayMsg }}</div>
	</div>
</div>

<div *ngIf="showVideoPermPop == 1" class="popup request-popup" [class.active]="showVideoPermPop == 1" style="z-index: 12314223421323123123 !important;">
	<div class="popup-logo">
		<img src="assets/images/logo1.png" />
	</div>
	<div class="popup-title text-center">
		<span class="text">Give Video Permission</span>
	</div>
	<div class="popup-content text-center">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<button (click)="switchToSettings()" class="btn btn-primary">Go to Settings</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="showTopPerm == 1" class="popup request-popup" [class.active]="showTopPerm == 1" style="z-index: 12314223421323123123 !important;">
	<div class="popup-logo">
		<img src="assets/images/logo1.png" />
	</div>
	<div class="popup-title text-center">
		<span class="text">Allow Appear on Top</span>
	</div>
	<div class="popup-content text-center">
		<div class="row">
			<div class="col-12">
				<p>This app requires permission to appear on top of other app. This permission is crucial as it is needed for displaying the incoming call screen.</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<button (click)="openTopPermission()" class="btn btn-primary">Go to Settings</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div *ngIf="showAudioPermPop == 1" class="popup request-popup" [class.active]="showAudioPermPop == 1" style="z-index: 12314223421323123123 !important;">
	<div class="popup-logo">
		<img src="assets/images/logo1.png" />
	</div>
	<div class="popup-title text-center">
		<span class="text">Give Audio Permission</span>
	</div>
	<div class="popup-content text-center">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<button (click)="switchToSettings()" class="btn btn-primary">Go to Settings</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>