<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="marg-neg home-top">
					<img src="assets/images/loginbg2.png" class="img-fluid" />
				</div>
			</div>
			<div class="col-12">
				<div class="login-form-wrap">
					<h2 class="m20"><b>Sign up</b></h2>
					<h4 class="m20">Please select one to continue</h4>
					<div class="form-row">
						<button routerLink="/signup/type/user" class="btn btn-primary">I am a user</button>
					</div>
					<div class="form-row">
						<button routerLink="/signup/type/interpreter" class="btn btn-outline">I am an interpreter</button>
					</div>
					<div class="form-row">
						<button routerLink="/signup/type/company" class="btn btn-outline">Register your company</button>
					</div>
					<div routerLink="/login" class="logsign-change">Already have an account? <b>Sign In</b></div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
