<ion-content>
  <div class="page-title">
    <span (click)="myBackButton()" class="back"><i class="fas fa-angle-left"></i></span>
  <span class="text">Confidentiality agreement.</span>
  </div>
  <div class="page-content">
    <!-- <h4>Confidentiality agreement</h4>
    <hr /> -->
    <p>This confidentiality agreement is between the interpreters registered on the platform of the Samanta app as Information Recipients and the clients registered and users of the Samanta app platform and third parties as Information Providers.</p>
    <p>a. From the start of a call the Information Provider and the Information Recipient enter into a confidentiality agreement with regards to all the Information</p>
    <p>b. The contact between the Information Providers , third party and the service recipient it is confidential , none parts of it should be disclosed</p>
    <p>c. All the information received by the Information Recipient is confidential and it should not be disclosed under any circumstances.</p>
    <h4>1.Confidential information:</h4>
    <hr />
    <p>a. All written or spoken information or material disclosed or provided by the Information provider</p>
    <p>b. All written or spoken information or material disclosed or provided by the information provider and the third party present or not present for at the time when the information is disclosed to the Information recipient</p>
    <p>c. All written or spoken information disclosed by the third party involved, personal information, audio visual information.</p>
    <h4>2. Confidential obligation:</h4>
    <hr />
    <p>a. Except as otherwise provided by this agreement, the recipient must keep all the information confidential and not to be disclosed in any circumstances</p>
    <p>b. The obligation to ensure and protect the confidentiality of the information for indefinite times</p>
    <p>c. Except if otherwise provided in this agreement, the confidential information will remain the exclusive property of the Information provider and the third parties involved . The recipient will not use the confidential information for any purposes.</p>
    <p>d. The obligation to ensure and protect the confidentiality of the confidential information</p>
    <h4>3. The Recipient may disclose Confidential information for &ldquo;</h4>
    <hr />
    <p>a. To such employees, agents, representatives and advisors of the Information provider and third party with prior consent of the information provider and third party,</p>
    <p>i. Such staff agree to be legally bound to the same confidential and non-use as recipient</p>
    <p>ii. The recipient agrees to take all necessary steps to ensure that the terms of this agreement are not violated by such staff</p>
    <p>iii. The Recipient agrees to be responsible and to indemnify the Information Provider of any breach of this agreement by its staff</p>
    <p>b. To a party where the Information Provider and third party has consented in writing to such disclosure</p>
    <p>c. To the extent required by law or by the request or requirements of any judicial, legislative or any governmental body.</p>
    <h4>4. Notices</h4>
    <hr />
    <p>a. In the event that the Recipient is required in a civil, criminal or regulatory proceedings to disclose any part of the Confidential information , the Recipient will give the information Provider prompt written notice of such request so the Information Provider may seek an appropriate remedy or alternatively to waive the Recipient&rsquo;s compliance with the provision of this agreement in regards to this request.</p>
    <h4>5. Termination</h4>
    <hr />
    <p>a. Once this agreement came to life at the start of each call, this agreement can not be terminated and the Recipient is obliged to keep all the information confidential for indefinite time.</p>
    <h4>6. Governing law</h4>
    <hr />
    <p>This agreement will be construed in accordance with and governed by the laws of Ireland</p>
  </div>
</ion-content>