<ion-content>
    <div class="page-title">
      <span (click)="myBackButton()" class="back"><i class="fas fa-angle-left"></i></span>
    <span class="text">Privacy policy</span>
    </div>
    <div class="page-content">
      <p><strong>Samanta Privacy Policy</strong></p>
<p>Samanta Ltd including Samanta Application ( Samanta.ie, Samanta.com, Samanta.co.uk)</p>
<p>respects your privacy and is committed to protect the personal information of its users -</p>
<p>buyers, interpreters, administrators, collaborators and other visitors browsing the app and the</p>
<p>site (&ldquo;Users&rdquo;) as well as affiliates, other collaborators interacting with Samanta. We believe</p>
<p>that you have a right to know our practices regarding the information we collect when you</p>
<p>visit and/or use our app and site. This Policy explains our privacy practices and services</p>
<p>provided by Samanta as well as privacy practices that apply to affiliates and other</p>
<p>collaborators who are individuals. By accessing and/or using the app and its related sites,</p>
<p>applications, services, or registering for a Samanta account and/or using it as an</p>
<p>administrator, interpreter collaborator , business user and or an individual user, you agree to</p>
<p>the terms and conditions of this Policy, including to our collection, use, disclosure,</p>
<p>processing and retention of personal information.</p>
<p><strong>Information We Collect</strong></p>
<p>When you register to use our services in app or site as business provider, user , administrator</p>
<p>and/or individual user, complete forms, we ask you to provide certain personal information,</p>
<p>including a valid email address, We will also ask you to provide or otherwise collect</p>
<p>additional information that you provide us, such as, your profile details, physical address,</p>
<p>billing information, telephone number or other contact details, financial information (such as</p>
<p>payment method and credit card number), taxpayer information and forms, details about your</p>
<p>education, details about your listed experiences, profession and expertise, and additional</p>
<p>authentication information (such as your government issued ID, passport, or driving license,</p>
<p>as permitted by applicable laws &ldquo;Verifying Your Identity&rdquo;). We also collect information</p>
<p>about your communications with Samanta app as well as communication with other users of</p>
<p>Samanta app.</p>
<p>We also collect information while you access, browse, view or otherwise use the app/site. In</p>
<p>other words, when you access the app/site we are aware of your usage , and gather, collect</p>
<p>and record the information relating to such usage, including geo-location information, IP</p>
<p>address, device and connection information, browser information and web-log information,</p>
<p>and all communications recorded by Users through the app/site. We use that information to</p>
<p>enhance user experience, personalize your browsing experience as well as monitor for</p>
<p>preventing fraud and inappropriate content or behaviour. We also collect supplemental</p>
<p>information obtained from third parties such as demographic and navigation data, if</p>
<p>applicable. We combine your personal information with information we collect automatically</p>
<p>or obtain from other companies and use it to improve and personalize our services, content</p>
<p>and advertising and/or to prevent fraud.</p>
<p>Additionally, in order to improve your online experience with Samanta we have implemented</p>
<p>impression reporting. While you view our ads, we gather user Global Unique Identifier,</p>
<p>HTTP request data like, user agent, IP, host, URL, country/continent from which request</p>
<p>made, browser info, device/operating system/operating system version.</p>
<p>Once you register, your username, country, and additional information regarding your</p>
<p>activity is made public and is visible to all Users of the app/site. This information includes</p>
<p>photos you upload, your published portfolio, education and experience, ratings from other</p>
<p>users, and additional information you may choose to add to your profile. We also offer you&nbsp;</p>
<p>the opportunity to participate and post content publicly in forums, blogs and on other similar</p>
<p>features. Please be aware that certain information, such as your user name and profile,</p>
<p>together with the content uploaded by you, will be publicly displayed when you use such</p>
<p>features.</p>
<p><strong>How Do We Collect Information?</strong></p>
<p>Information provided by you - You directly provide us with most of the information we</p>
<p>collect. You do this by filling out the registration details on the app/site, linking to your</p>
<p>Samanta account, completing application forms, skill tests and customer surveys (if any) as</p>
<p>well as by posting and sharing additional information voluntarily. This can include</p>
<p>information about other users, education and profession, sharing of portfolio, ratings and</p>
<p>feedbacks by users and anything you choose to add to your user profile.</p>
<p>Information we collect when you use the App/ Site - We collect technical information</p>
<p>indirectly and automatically through our systems. This information includes logging your</p>
<p>Internet Protocol (IP) address, software configuration, operating system</p>
<p>Information we collect from other sources - We receive information from third party</p>
<p>vendors and/or other commercially available sources, such as:</p>
<p>-Third party vendors who provide us data to supplement the information we collect about</p>
<p>you, in accordance with applicable laws. For example, we receive fraud warnings from</p>
<p>service providers for our fraud prevention and risk assessment efforts. We also receive</p>
<p>information from enrichment service providers to enhance and personalize your experience as</p>
<p>well as from advertising and marketing partners in order to manage and measure our</p>
<p>campaigns.</p>
<p>-If you link, connect, or login to your Samanta Account with a third-party service (e.g.</p>
<p>Google, Facebook, LinkedIn), we receive certain information, such as your registration and</p>
<p>profile information from that service. This information varies and is controlled by that service</p>
<p>or as authorized by you via your privacy settings at that service.</p>
<p>-Advertising and marketing partners in order to monitor, manage and measure our</p>
<p>campaigns.</p>
<p>-We also receive certain information about you, if you are invited to Samanta by another user</p>
<p>(for example, as part of our collaboration tools and referral program), in such case we will</p>
<p>receive limited information, such as your email address or other contact information, and we</p>
<p>will use it for the same purpose it was provided and in accordance with the terms of this</p>
<p>Privacy Policy.</p>
<p>Activity on the application &ndash; all the activity on the application will be collected and stored</p>
<p>but not shared with third party unless required by law.</p>
<p><strong>How Do We Use The Information Collected?</strong></p>
<p>Where relevant under applicable laws, all processing of your personal information will be</p>
<p>justified by a &amp;quot;lawful ground&amp;quot; for processing. In the majority of cases, processing will be</p>
<p>justified on the basis that:</p>
<p>-you have provided your consent for us to use your personal information for a specific</p>
<p>purpose;</p>
<p>-our use of your personal information is necessary to perform a contract or take steps to enter</p>
<p>into a contract with you (e.g. to provide you with services which you have purchased);</p>
<p>-the processing is necessary to comply with a relevant legal obligation or regulatory</p>
<p>obligation that we have (e.g. fraud prevention); or</p>
<p>-the processing is necessary to support our legitimate interests as a business (e.g. to improve</p>
<p>our services to you), subject to your interests and fundamental rights and provided it is</p>
<p>conducted at all times in a way that is proportionate.</p>
<p><br></p>
<p><strong>We will use your personal information for the following purposes:</strong></p>
<p>-to provide you with quality service and security, to operate the Site, to perform our</p>
<p>obligations to you and to develop and improve our service. For example, we use the</p>
<p>information collected from you to verify your identity. We also use this information to</p>
<p>establish and set up your account, verify or re-issue a password, log your activity, enable</p>
<p>your communications with other members, provide customer support and contact you from</p>
<p>time to time. The information helps us to develop and improve our services to you, to</p>
<p>understand and analyse your preferences and performance and to customize and personalize</p>
<p>your experience (including by making suggestions, ranking search results, etc.).</p>
<p>-to ensure marketplace integrity, prevent fraud and maintain a safe and secure marketplace.</p>
<p>For example, we use your information to track and prevent fraudulent activities and other</p>
<p>inappropriate activities, monitor content integrity, conduct security investigations and risk</p>
<p>assessments, verify or authenticate information provided by you, enforce our Terms of</p>
<p>Service and comply with applicable laws. We conduct certain behavioural analytics to</p>
<p>achieve the above objectives and in limited cases, if we detect activity that we think poses a</p>
<p>risk to Samanta marketplace, other users, our community, or third parties, automated</p>
<p>processes may restrict or limit your ability to use Samanta.</p>
<p>-to contact you, as requested by you or as otherwise approved by you or permitted according</p>
<p>to this Policy.</p>
<p>-to promote and advertise the Site and the Samanta marketplace. For example, we use the</p>
<p>information collected from you for the purpose of sending direct marketing messages (as</p>
<p>detailed below), to show you information that may be of interest to you, to organize and</p>
<p>facilitate referral programs, contests or other promotional activities or events.</p>
<p>-to maintain appropriate business records, to comply with lawful requests by public</p>
<p>authorities and to comply with applicable laws and regulations or as otherwise required by</p>
<p>law.</p>
<p>We will ask for your consent before using information for a purpose other than those set out</p>
<p>in this Policy.</p>
<p><strong>Direct marketing:</strong></p>
<p>-We use your personal information to send you direct marketing communications about our</p>
<p>products, services or promotions from Samanta that may be of interest to you or our related</p>
<p>services. This may be via email, post, SMS, telephone or targeted online advertisements.</p>
<p>-Our processing of your personal information for marketing purposes is based on our</p>
<p>legitimate interest, or on your consent, or as otherwise permitted according to applicable</p>
<p>laws. You have a right to prevent direct marketing of any form at any time - this can be</p>
<p>exercised by following the opt-out link attached to each communication or by sending an</p>
<p>email to privacy@samantapp.com</p>
<p><br></p>
<p>-We take steps to limit direct marketing to a reasonable and proportionate level, and to send</p>
<p>you communications which we believe may be of interest or relevance to you, based on the</p>
<p>information we have about you.</p>
<p><strong>How Long Do We Keep Personal Information?</strong></p>
<p>We apply a general rule of keeping personal information only for as long as is required to</p>
<p>fulfil the purpose for which it was collected. However, in some circumstances, we will retain</p>
<p>your personal information for longer periods of time. We will retain personal information for</p>
<p>the following purposes:</p>
<p>-as long as it is necessary and relevant for our operations, e.g. so that we have an accurate</p>
<p>record of your dealings with us in the event of any complaints or challenge; and</p>
<p>-in relation to personal information from closed accounts to comply with applicable laws,</p>
<p>prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any</p>
<p>investigation, enforce our Site terms and take other actions as permitted by law.</p>
<p><strong>Children Under the Age of 13</strong></p>
<p>Our app/site is not intended for children under 13 years of age. No one under age 13 should</p>
<p>provide any personal information to or on the app/Site. We do not knowingly collect personal</p>
<p>information from children under 13. Parents and guardians should at all times supervise their</p>
<p>children&amp;#39;s activities. If we learn we have collected or received personal information from a child under 13, we will delete that personal information. If you believe we might have any</p>
<p>information from or about a child under 13, please contact us at privacy@samantapp.com</p>
<p><strong>Sharing Personal Information with Third Parties</strong></p>
<p>We do not sell or rent your personal information to third parties for their marketing purposes</p>
<p>without your explicit consent.</p>
<p><strong>We share your personal information with third parties as detailed below:</strong></p>
<p>-We share personal information with service providers that provide us with services for the</p>
<p>purpose of operating the app/site, opening and operating your account as well as providing</p>
<p>ancillary services and solutions. These include, among others, hosting services, billing and</p>
<p>payment vendors, CRM systems, community management services, data and cybersecurity</p>
<p>services, web analytics and performance tools, translation tools, IT SaaS services, session</p>
<p>recording, communication systems, mailing systems, data optimization and marketing</p>
<p>services, data enrichment services, legal and financial advisors or technical consultants.</p>
<p>Consistent with applicable legal requirements, we take commercially reasonable steps to</p>
<p>require third parties to adequately safeguard your personal information and only process it in</p>
<p>accordance with our instructions;</p>
<p>-We share personal information to law enforcement agencies, public authorities or other</p>
<p>parties in order to respond to a subpoena or court order, judicial process or to regulatory</p>
<p>authorities, if we believe we are required to do so by law, or that doing so is reasonably</p>
<p>necessary to comply with legal processes; when we believe it necessary or appropriate to</p>
<p>disclose personal information to law enforcement authorities, such as to investigate actual or</p>
<p>suspected fraud or violations of law, breaches of security, or breaches of this Policy; to</p>
<p>respond to claims against us; and to protect the rights, property, or personal safety of</p>
<p>Samanta, our customers, or the public;</p>
<p>-We share personal information with payment processors, fraud detection agencies and</p>
<p>similar third parties for the purpose of facilitating payments done via the app/Site and</p>
<p>securing the app/site and protecting it against fraud, unauthorized transactions (such as</p>
<p>money laundering), claims or other liabilities;</p>
<p>-Our app/site includes certain social media features, including single sign on features. We</p>
<p>also share limited personal information with such social media platforms and marketing</p>
<p>partners, such as Facebook and Google, to promote our services or the Samanta marketplace.</p>
<p>Such features and third party services collect certain information about you and may set a</p>
<p>cookie to enable their functionality. Such third parties&rsquo; features are governed by their</p>
<p>policies.</p>
<p>-We share personal information to help facilitate interactions between Users. For example, if</p>
<p>you are a Buyer we may share certain limited information about you (such as the fact that you</p>
<p>require an Interpreter with certain skills and qualification and experience ) with the</p>
<p>Interpreter to ensure the services you receive from the Interpreter will fit your needs; such</p>
<p>sharing of information is limited in scope, will not include personal identifying information</p>
<p>(PII) which is not already available to the Interpreter via the marketplace, and is only</p>
<p>intended to improve the services provided by the Interpreter and your user experience;</p>
<p>-Personal information will also be disclosed if we go through a business transition such as a</p>
<p>merger, sale, transfer of all or a portion of Samanta&amp;#39;s assets, acquisition, bankruptcy or</p>
<p>similar event. In the event that we sell any business or assets, we will disclose your data to</p>
<p>the prospective buyer. If we or substantially all of our assets are acquired by a third party,</p>
<p>information held by us about our users will be one of the transferred assets.</p>
<p>Please note, if you are an Seller your profile information and additional information, reviews,</p>
<p>posts are visible to all Business and Individual buyers on the app/site or parties you share</p>
<p>your profile with.</p>
<p>When share your data with other Samanta users, you do so at your own risk.</p>
<p>If you choose to share personal information with other users, including Interpreters providing</p>
<p>you a service via Samanta, such personal information is shared with other users as separate</p>
<p>controllers. While Samanta strives to protect your privacy and our Terms of Service require</p>
<p>our Users to keep the information shared with them confidential, Samanta cannot ensure that</p>
<p>all Users will do so and it is your responsibility to ensure that other users will comply with</p>
<p>your standards.</p>
<p><strong>Where We Store Your Personal Information</strong></p>
<p>We implement a variety of security measures to maintain the safety of your personal</p>
<p>information when you buy a subscription or enter, submit, or access your personal</p>
<p>information.</p>
<p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted</p>
<p>via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway</p>
<p>providers database only to be accessible by those authorized with special access rights to</p>
<p>such systems, and are required to keep the information confidential.</p>
<p>Some of the personal information you provide to us will be stored or processed on our behalf</p>
<p>by third party suppliers and data processors and may be located in other jurisdictions, whose</p>
<p>laws may differ from the jurisdiction in which you live. Whether to third parties or internally,</p>
<p>any transfers of personal information from the European Economic Area (&ldquo;EEA&rdquo;) to</p>
<p>countries not deemed to provide an adequate level of data protection are governed by</p>
<p>European Union (EU) standard contractual clauses and/or equivalent data transfer regulations</p>
<p>to protect the security and confidentiality of personal information. We will take all steps</p>
<p>reasonably necessary to ensure that your personal information is treated securely and in</p>
<p>accordance with this Policy.</p>
<p><strong>External Links</strong></p>
<p>Please note that the app/Site may contain links to third party sites and if you link to a third</p>
<p>party site from the Site, any data you provide to that site and any use of that data by the third</p>
<p>party are not under the control of Samanta and are not subject to this Policy. You should</p>
<p>consult the privacy policies of each site you visit. This Policy applies solely to personal</p>
<p>information collected by our Samanta. If you upload content, including personal information,</p>
<p>to a social network and then tag the Samanta, your submission will be subject to that social</p>
<p>network&amp;#39;s terms of use and privacy policy, even where you post on an official Samanta page</p>
<p>on the social network. We do not have control over these terms of use and privacy policies</p>
<p>and have not reviewed their adequacy. You should therefore review these before submitting</p>
<p>any personal information.</p>
<p><strong>Security</strong></p>
<p>We take great care in maintaining the security of the our app/site and your information and in</p>
<p>preventing unauthorized access, loss, misuse, alteration, destruction or damage to it through</p>
<p>industry standard technologies and internal procedures. In addition, we contractually ensure</p>
<p>that any third party processing your personal information equally provides for confidentiality</p>
<p>and integrity of your data in a secure way. However, the transmission of data via the internet</p>
<p>is not completely secure, and although we will do our best to protect your personal</p>
<p>information, we cannot guarantee the security of your data transmitted to the app/Site; any</p>
<p>transmission is at your own risk. Once we have received your data, we will use strict</p>
<p>procedures and security features to try to prevent unauthorized access.</p>
<p>Users who have registered to the app/site agree to keep their password in strict confidence</p>
<p>and not disclose such password to any third party.</p>
<p>Further information about our data security practices can be provided on request.</p>
<p><strong>Rights of EU Users</strong></p>
<p>Under applicable EU regulation and GDPR you have the following rights in respect of your</p>
<p>personal information:</p>
<p>-to obtain a copy of your personal information together with information about how and on</p>
<p>what basis that personal information is processed</p>
<p>-to rectify inaccurate personal information;</p>
<p>-to erase your personal information in limited circumstances where (a) you believe that it is</p>
<p>no longer necessary for us to hold your personal information; (b) we are processing your</p>
<p>personal information on the basis of legitimate interests and you object to such processing,</p>
<p>and we cannot demonstrate an overriding legitimate ground for the processing; (c) where you</p>
<p>have provided your personal information to us with your consent and you wish to withdraw</p>
<p>your consent and there is no other ground under which we can process your personal</p>
<p>information; and (d) where you believe the personal information we hold about you is being</p>
<p>unlawfully processed by us;</p>
<p>-to restrict processing of your personal information where: (a) the accuracy of the personal</p>
<p>information is contested; (b) the processing is unlawful but you object to the erasure of the</p>
<p>personal information; (c) we no longer require the personal information for the purposes for</p>
<p>which it was collected, but it is required for the establishment, exercise or defence of a legal</p>
<p>claim or (d) you have objected to us processing your personal information based on our</p>
<p>legitimate interests and we are considering your objection;</p>
<p>-to object to decisions which are based solely on automated processing or profiling;</p>
<p>-where you have provided your personal information to us with your consent, to ask us for a</p>
<p>copy of this data in a structured, machine-readable format and to ask us to share (port) this</p>
<p>data to another data controller; or</p>
<p>-to obtain a copy of or access to safeguards under which your personal information is</p>
<p>transferred outside of the EEA.</p>
<p>In addition to the above, you have the right to lodge a complaint with a supervisory authority</p>
<p>for data protection.</p>
<p>We will ask you for additional data to confirm your identity and for security purposes, before</p>
<p>disclosing data requested by you. We reserve the right to charge a fee where permitted by</p>
<p>law. We will decline to process requests that jeopardize the privacy of others, are extremely</p>
<p>impractical, or would cause us to take any action that is not permissible under applicable</p>
<p>laws. Additionally, as permitted by applicable laws, we will retain where necessary certain</p>
<p>personal information for a limited period of time for record-keeping, accounting and fraud</p>
<p>prevention purposes.</p>
<p><strong>Specific Provisions for California Residents</strong></p>
<p>This section of the Policy applies to you, if you are a California resident.</p>
<p>During the last twelve (12) months we have collected the following categories of personal</p>
<p>information from Users:</p>
<p>-Information that you chose to upload or otherwise provided by you to Samanta, which may</p>
<p>include: (i) Identifiers and personal information, such as name, postal addresses, online</p>
<p>identifiers, email addresses, passport number or driving license number, social security</p>
<p>number; (ii) characteristics of protected classifications, such as gender; facial image; audio,</p>
<p>electronic or similar information; professional or employment-related information; and</p>
<p>education information.</p>
<p>-Information we collect when you use Samanta, including (i) Identifiers and personal</p>
<p>information, such as online identifiers, internet protocol (IP) addresses, access device and</p>
<p>connection information such as browser type, version, and time zone setting and browser</p>
<p>plug-in types and versions; (ii) commercial information, including products or services</p>
<p>purchased, obtained, or considered, or other purchasing or consuming histories or tendencies;</p>
<p>(iii) Internet or other electronic network activity information, including, but not limited to</p>
<p>log-in and log-out time, the duration of sessions, the content uploaded and downloaded,</p>
<p>viewed web-pages or specific content on web-pages, activity measures; (iv) Location</p>
<p>information, based on your IP address.&nbsp;</p>
<p>-Inferences drawn from any of the information identified above to create a profile about you.</p>
<p>-We obtain personal information listed above from third party sources, as detailed in the</p>
<p>section titled &ldquo;How Do We Collect Information&rdquo; above.&nbsp;</p>
<p>We use the personal information that we collect or receive for the business purposes as</p>
<p>described above under the Section titled &ldquo;How Do We Use the Information Collected?&rdquo;.</p>
<p>We disclose personal information to third parties for business purposes as described above</p>
<p>under the Section titled &ldquo;Sharing Personal Information with Third Parties&rdquo; in the Privacy</p>
<p>Policy. In the preceding twelve (12) months, we have disclosed all the categories of personal</p>
<p>information detailed above for business purposes.&nbsp;</p>
<p>As previously mentioned in this Policy, we do not sell (as such term is defined in the CCPA)</p>
<p>personal information and will not sell it without providing Users with a right to opt out.&nbsp;</p>
<p>You are entitled to the following specific rights under the CCPA in relation to personal</p>
<p>information related to you:</p>
<p>-you have a right to request that we will disclose certain information to you about our</p>
<p>collection and use of personal information related to you over the past 12 months. After</p>
<p>verifying your request, we will disclose to you: (i) The categories of personal information</p>
<p>that we collect about you; (ii)The categories of sources from which the personal information</p>
<p>is collected; (iii) The purposes for collecting, using, or selling that personal information. (iv)</p>
<p>The categories of personal information that we disclosed for a business purpose or sold, and</p>
<p>the categories of third parties to whom we disclosed or sold that particular category of</p>
<p>personal information. (v) The specific pieces of personal information that we have collected</p>
<p>about you. (vi) If we disclosed your personal information for a business purpose, the</p>
<p>categories of personal information we have disclosed. (vii) If we sold your personal</p>
<p>information, the categories of personal information we have sold.</p>
<p>-You have a right to request that we delete personal information related to you that we</p>
<p>collected from you under certain circumstances and exceptions.&nbsp;</p>
<p>-You also have a right not to be discriminated against for exercising your rights under the</p>
<p>CCPA.</p>
<p>To make such requests, we kindly ask you to send us an email to privacy@samantapp.com</p>
<p>We will verify your request using the information associated with your account, including</p>
<p>email address. Government identification may also be required.&nbsp;</p>
<p>A request for access can be made by you only twice within a 12-months period. Any</p>
<p>disclosures that we provide will only cover the 12-months period preceding receipt of your</p>
<p>request. We do not charge a fee to process or respond to your verifiable User request unless it</p>
<p>is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a</p>
<p>fee, we will inform you of the reasons for such decision and provide you with a cost estimate</p>
<p>before processing further your request.</p>
<p><br></p>
<p><strong>Updating Personal Information</strong></p>
<p>We take steps to ensure that the personal information we collect is accurate and up to date,</p>
<p>and we provide you with the opportunity to update your information through your account</p>
<p>profile settings. In the event that you believe your information is in any way incorrect or</p>
<p>inaccurate, please let us know immediately. We will make sure we investigate the matter and</p>
<p>correct any inaccuracies as quickly as possible where necessary or give you ways to update it</p>
<p>quickly or to delete it - unless we have to keep that information for legitimate business or</p>
<p>legal purposes. When updating your personal information, we will ask you to verify your</p>
<p>identity before we can act on your request. If for any reason you have a problem with</p>
<p>deleting your personal information, please contact Samanta&rsquo;s Customer Support and we will</p>
<p>make reasonable efforts to delete any such information pursuant to any applicable privacy</p>
<p>laws.</p>
<p>You can review and change your personal information by logging into your account and</p>
<p>visiting your account profile page.</p>
<p>If you delete your User Generated Content (&ldquo;UGC&rdquo;), as defined in the Samanta Terms of</p>
<p>Service, from the app/Site, copies of your UGC may remain viewable in cached and archived</p>
<p>pages, or might have been copied or stored by other users. Proper access and use of</p>
<p>information provided on the App/Site, including UGC, is governed by our Terms of Service.</p>
<p><strong>Contact Us</strong></p>
<p>To exercise any of your rights in connection with your personal information, we kindly ask</p>
<p>that you contact us via email privacy@samantapp.com Please include all the relevant details,</p>
<p>so your request can be handled correctly. We will process any requests in line with any local</p>
<p>laws and our policies and procedures. If you have any questions (or comments) concerning</p>
<p>this Policy, please email our team at privacy@samantapp.com and we will make an effort to</p>
<p>reply within a reasonable timeframe.</p>
    </div>
</ion-content>